.menu a {
	color:#fff;
	text-decoration:none;
	cursor: pointer;
	padding: 1em 2em;
}
.menu a:hover {
	background:#ddd;
	color:#000;
}
.menu {
	background: #000;
    display: flex;
    justify-content: space-evenly;
    
}